<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<div class="outer">
  <div class="inner">
    <h1>This is a test of SCSS</h1>
    <img src="<%= asset_pack_path 'media/images/burnes.jpeg' %>">
  </div>
</div>

